@model OnlineShoppingProject.ViewModels.ProductModels.AddProductCartVM

@{
    int i = 0;
    decimal totalAmount = 0;
}
<script>

    function updateAmount(input) {
        // Update quantity and calculate new total amount
        var quantity = input.value;
        var rate = input.closest("tr").querySelector("#rate").innerText;
        var totalCol = input.closest("tr").querySelector("#payableAmount");
        var totalAmount = quantity * rate;
        totalCol.innerText = totalAmount.toFixed(2);

        // Update subtotal
        var subtotalCol = document.querySelector("#subtotalAmount");
        var allTotalCols = document.querySelectorAll(".total-col");
        var subtotalAmount = 0;
        allTotalCols.forEach(function (col) {
            subtotalAmount += parseFloat(col.innerText);
        });
        subtotalCol.innerText = subtotalAmount.toFixed(2);

        // Update total
        var totalCol = document.querySelector("#totalAmount");
        totalCol.innerText = subtotalAmount.toFixed(2);
    }


    function mainMenuNav(url) {
        $.ajax({
            type: 'POST',
            url: url,
            contentType: false,
            processData: false,
            success: function (res) {
                $('#main').html(res);
            },
            error: function (msg) {
                $('#main').html(msg);
            }
        });
    }

    function addToCart(button) {
        const quantityInput = button.closest('tr').querySelector('input[name="quantity"]');
        const payableAmountInput = button.closest('tr').querySelector('.total-col');

        const quantityValue = quantityInput.value;
        const payableAmountValue = payableAmountInput.innerText;

        const url = button.getAttribute('data-url');
        const urlWithQuantity = url.replace("TO_Num", quantityValue).replace("Pay_Amount", payableAmountValue);
        mainMenuNav(urlWithQuantity);
    }

    function removeItem(button, productId) {
        // Show popup message
        alert("Are you sure you want to remove this item?");

        // Perform remove operation
        const url = '@Url.Action("ConfirmDelete", "Cart")' + '?ProductId=' + productId;
        mainMenuNav(url);
    }
</script>

<body>
    <div class="page-wrapper">
        <main class="main">
            <div class="page-header text-center" style="background-image: url('Img/page-header-bg.jpg')">
                <div class="container">
                    <h1 class="page-title">Shopping Cart<span>Shop</span></h1>
                </div><!-- End .container -->
            </div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Shopping Cart</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="cart">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-9">
                                    <table class="table table-cart table-mobile">
                                        <thead>
                                            <tr>
                                                <th>Product</th>
                                                <th>Price</th>
                                                <th>Quantity</th>
                                                <th>Total</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        @foreach (var item in Model.TblCarts)
                                        {
                                            <tr>
                                                <td class="product-col">
                                                    <div class="product">
                                                        <figure class="product-media">
                                                            <a href="#">
                                                                <img src="Img/@item.Product.Image" alt="Product image">
                                                            </a>
                                                        </figure>
                                                        <h3 class="product-title">
                                                            <a href="#">@item.Product.ProductName</a>
                                                        </h3><!-- End .product-title -->
                                                    </div><!-- End .product -->
                                                </td>
                                                <td class="price-col" id="rate">@item.Rate</td>
                                                <td class="quantity-col">
                                                    <div class="cart-product-quantity">
                                                        <input type="number" class="form-control" name="quantity" value="1" min="1" max="10" step="1" data-decimals="0" onchange="updateAmount(this)" required>
                                                    </div><!-- End .cart-product-quantity -->
                                                </td>
                                                <td class="total-col" id="payableAmount">@item.Rate</td>
                                                <td>
                                                    <button type="submit" class="btn btn-outline-dark-2" data-url="@Url.Action("UpdateCart", "Cart", new { Id = item.ProductId, quantity = "TO_Num", payableAmount = "Pay_Amount" })" onclick="addToCart(this)">
                                                        <span>UPDATE CART</span>
                                                        <i class="icon-refresh"></i>
                                                    </button>
                                                </td>
@*                                                <td class="remove-col">
                                                    <a href="#" class="btn-remove"
                                                       onclick="mainMenuNav('@Url.Action("ConfirmDelete", "Cart", new {ProductId = item.ProductId})')">
                                                        <i class="icon-close"></i>
                                                    </a>
                                                    </td>*@
                                                <td class="remove-col">
                                                    <button class="btn-remove" onclick="removeItem(this, '@item.ProductId')">
                                                        <i class="icon-close"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                            totalAmount += @item.Rate;
                                        }<!-- End .cart-bottom -->
                                        </tbody>
                                    </table><!-- End .table table-wishlist -->

                           </div><!-- End .col-lg-9 -->
                            <aside class="col-lg-3">
                                <div class="summary summary-cart">
                                    <h3 class="summary-title">Cart Total</h3><!-- End .summary-title -->

                                    <table class="table table-summary">
                                        <tbody>
                                            <tr class="summary-subtotal">
                                                <td>Subtotal:</td>
                                                <td id="subtotalAmount">@totalAmount</td>
                                            </tr><!-- End .summary-subtotal -->
                                            <tr class="summary-shipping">
                                                <td>Shipping:</td>
                                                <td>&nbsp;</td>
                                            </tr>

                                            <tr class="summary-shipping-row">
                                                <td>
                                                    <div class="custom-control custom-radio">
                                                        <input type="radio" id="free-shipping" name="shipping" class="custom-control-input">
                                                        <label class="custom-control-label" for="free-shipping">Free Shipping</label>
                                                    </div><!-- End .custom-control -->
                                                </td>
                                                <td>$0.00</td>
                                            </tr><!-- End .summary-shipping-row -->

                                            <tr class="summary-shipping-row">
                                                <td>
                                                    <div class="custom-control custom-radio">
                                                        <input type="radio" id="standart-shipping" name="shipping" class="custom-control-input">
                                                        <label class="custom-control-label" for="standart-shipping">Standart:</label>
                                                    </div><!-- End .custom-control -->
                                                </td>
                                                <td>$10.00</td>
                                            </tr><!-- End .summary-shipping-row -->

                                            <tr class="summary-shipping-row">
                                                <td>
                                                    <div class="custom-control custom-radio">
                                                        <input type="radio" id="express-shipping" name="shipping" class="custom-control-input">
                                                        <label class="custom-control-label" for="express-shipping">Express:</label>
                                                    </div><!-- End .custom-control -->
                                                </td>
                                                <td>$20.00</td>
                                            </tr><!-- End .summary-shipping-row -->

                                            <tr class="summary-shipping-estimate">
                                                <td>Estimate for Your Country<br> <a href="dashboard.html">Change address</a></td>
                                                <td>&nbsp;</td>
                                            </tr><!-- End .summary-shipping-estimate -->

                                            <tr class="summary-total">
                                                <td>Total:</td>
                                                <td id="totalAmount">@totalAmount</td>
                                            </tr><!-- End .summary-total -->
                                        </tbody>
                                    </table><!-- End .table table-summary -->

                                    <a href="checkout.html" class="btn btn-outline-primary-2 btn-order btn-block" onclick="loadView('@Url.Action("CheckOut", "Cart")')">PROCEED TO CHECKOUT</a>
                                </div><!-- End .summary -->

                                <a href="#" class="btn btn-outline-dark-2 btn-block mb-3" onclick="loadView('@Url.Action("Index", "Home")')"><span>CONTINUE SHOPPING</span><i class="icon-refresh"></i></a>
                            </aside><!-- End .col-lg-3 -->
                        </div><!-- End .row -->
                    </div><!-- End .container -->
                </div><!-- End .cart -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->
    </div>
</body>



@*<script>
    function incrementQuantity(button) {
        var input = $(button).siblings(".quantity-input");
        var value = parseInt(input.val());
        if (value < 10) {
            input.val(value + 1);
        }
    }

    function decrementQuantity(button) {
        var input = $(button).siblings(".quantity-input");
        var value = parseInt(input.val());
        if (value > 1) {
            input.val(value - 1);
        }
    }
</script>*@






