@page
@model RegisterModel
@{
    Layout = null;
    ViewData["Title"] = "";
}

<h1>@ViewData["Title"]</h1>


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>DBCART SHOP</title>

    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/Img/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Img/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Img/icons/favicon-16x16.png">
    <link rel="manifest" href="Img/icons/site.html">
    <link rel="mask-icon" href="~/Img/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="~/Img/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="Img/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->


    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="css/plugins/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="css/plugins/jquery.countdown.css">

    <!-- Main CSS File -->

    <link rel="stylesheet" href="css/style.css">

    <!-- Plugins JS File -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.hoverIntent.min.js"></script>
    <script src="assets/js/jquery.waypoints.min.js"></script>
    <script src="assets/js/superfish.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/bootstrap-input-spinner.js"></script>
    <script src="assets/js/jquery.plugin.min.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/jquery.countdown.min.js"></script>
    <!-- Main JS File -->
    <script src="assets/js/main.js"></script>
    <script src="assets/js/demos/demo-4.js"></script>
</head>

<style>
    body {
        background-image: url("https://img.freepik.com/free-photo/arrangement-black-friday-shopping-carts-with-copy-space_23-2148667047.jpg");
        background-size: cover;
        background-position: center;
    }

    label,h2 {
        display: inline-block;
        margin-bottom: 0.5rem;
        color: white;
    }


    .btn-primary {
        color: #fff;
        background-color: peru;
        border-color: peru;
    }

    .form-group p a {
        color: peru;
        text-decoration: none;
        background-color: transparent;
    }

    .row {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .col-lg-4 {
        max-width: 33.333333%;
        margin: auto;
    }

    .form-group {
        text-align: center;
    }

    .form-control {
        width: 100%;
        margin: 0 auto;
    }

    .form-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    .form-group label {
        display: block;
        text-align: left;
    }
</style>
<body>
<div class="row">
     <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <div class="form-floating mb-3 form-group">
                <label asp-for="Input.Name">Name</label>
                <input asp-for="Input.Name" class="form-control"  aria-required="true" placeholder="Name" />
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3 form-group">
                <label asp-for="Input.Email">Email</label>
                <input asp-for="Input.Email" class="form-control"  aria-required="true" placeholder="name@example.com" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3 form-group">
                <label asp-for="Input.Password">Password</label>
                <input asp-for="Input.Password" class="form-control"  aria-required="true" placeholder="password" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3 form-group">
                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                <input asp-for="Input.ConfirmPassword" class="form-control"  aria-required="true" placeholder="password" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
 </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
