@model IEnumerable<OnlineShoppingProject.ViewModels.AddressVM>


<hr />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script>

    function handleRadioClick(radio) {
        var deliverButtons = document.querySelectorAll(".orange-button");
        deliverButtons.forEach(function (button) {
            button.style.display = "none";
            hideAddress();
        });

        var deliverButton = radio.parentNode.parentNode.querySelector(".orange-button");
        deliverButton.style.display = "block";
    }

    function handleButtonClick(addressId) {
        console.log("Selected address ID: " + addressId);
    }

    $(document).ready(function () {
        $("#show").click(function () {
            $("#address").show();
            $("#messageBox").hide();
        });
    });

    function hideAddress() {
        $("#address").hide();
        $("#messageBox").show();
    }

    function showAddress() {
        var city = $("#city").val();
        var state = $("#state").val();
        var pincode = $("#pincode").val();
        var address = $("#address").val();

        $("#cityValue").text("City: " + city);
        $("#stateValue").text("State: " + state);
        $("#pincodeValue").text("Pincode: " + pincode);
        $("#addressValue").text("Address: " + address);

        $("#addressDetails").show();
      
    }
    </script>
@{
    var tblNameList = Model.SelectMany(r => r.TblName).ToList();
    var Name = Model.Select(r => r.Name).FirstOrDefault();
}
<h4>DELIVERY ADDRESS :@Name</h4>

@foreach (var address in tblNameList)
{
  
    <div>
        <label>
            <input type="radio"  onclick="handleRadioClick(this)" name="selectedAddress" value="@address.AddressId" />
            <span class="bold-address" style="font-size: 18px;">@address.DeliverAddress, @address.City, @address.State, @address.PinCode</span>
        </label>
        <br />
        <button type="button" class="btn btn-primary orange-button" style="display: none;" onclick="handleButtonClick('@address.AddressId')">DELIVER HERE</button>
    </div>
    <hr />
   
}
<div>
  @*  <button id="hide" onclick="hideAddress()">Hide</button>*@
    <button id="show" onclick="showAddress()">Add a new address</button>


</div>
<div class="form-container" id="address">
  
    <form action="/form/submit" method="post">
        <div class="form-group">
            <label for="city">City</label>
            <input type="text" id="city" required placeholder="City/District/Town" />
        </div>
        <div class="form-group">
            <label for="state">State</label>
            <input type="text" id="state" name="state" required placeholder="Enter State" />
        </div>
        <div class="form-group">
            <label for="pincode">Pincode</label>
            <input type="text" id="pincode" name="pincode" required placeholder="Enter Pincode" />
        </div>
        <div class="form-group">
            <label for="address">Address</label>
            <textarea id="address" name="address" rows="4" required placeholder="Area And Street"></textarea>
        </div>
        <div class="form-group ">
            <button >SAVE AND DELIVER HERE</button>
            <button id="hide" onclick="hideAddress()">CANCEL</button>
        </div>

        <div class="form-group">
           
        </div>


        <div id="messageBox">
            <p>This is a message box!</p>
        </div>
    </form>
</div>




<script>
    function handleButtonClick(addressId) {
        
        console.log("Selected address ID: " + addressId);
 
    }
</script>
<style>
    .orange-button {
        background-color: orange;
        color: white;
        font-size: 16px;
        padding: 8px 16px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-right: 10px;
    }

    #hide {
        background-color: lightgray;
        color: black;
        font-size: 16px;
        padding: 8px 16px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .bold-address {
        font-weight: bold;
    }

    .address {
        font-size: 22px;
    }

    .button-container {
        margin-top: 10px;
    }


    body {
        margin: 0;
        padding: 0;
        border: 2px solid #ccc;
    }

    .form-container {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        border: 2px solid #ccc;
        padding: 20px;
    }

        .form-container form {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

            .form-container form .form-group {
                display: flex;
                align-items: center;
                margin-bottom: 10px;
            }

                .form-container form .form-group label {
                    display: inline-block;
                    width: 100px;
                }

                .form-container form .form-group input[type="text"],
                .form-container form .form-group textarea {
                    width: 298px;
                    height: 40px;
                    padding: 8px;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                }

                .form-container form .form-group textarea {
                    height: 80px;
                }

            .form-container form .submit-button {
                margin-left: auto;
            }

                .form-container form .submit-button input[type="submit"] {
                    background-color: orange;
                    color: white;
                    padding: 8px 16px;
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;
                }

    #addressDetails {
        border: 1px solid #ccc;
        padding: 10px;
        display: none;
    }


</style>






